.articles{    
    padding:30px 0;    
    .article-item{
        display: block;
        border: none !important;
        color:#000000;
        text-decoration: none;
        @include transition(.5s, ease);
        .card-img-top{
            overflow: hidden;
            background-color: #000000;
            max-height: 190px;
            img{
                @include transition(.5s, ease);
                width:100%;
                opacity: 0.6;
            }
        }
        .card-body{
            padding:0.9rem 0;
            .card-tags{
                margin-bottom:0 !important;
                font-size:0.9rem;
                p{
                    margin:0 !important;
                    line-height: 1.3em;
                    font-size:0.8rem;
                }
            }
            .card-title{                
                font-size:1.3rem;
                font-weight: bold;             
                @include transition(.5s, ease);   
            }
            p{
                font-size:0.95rem;
            }
        }

    }
    .article-item:hover{
        .card-title{     
            text-decoration: underline;
        }
        .card-img-top{
            img{
                width: 105% !important;
                opacity: 100;
            }
        }
    }
}

.articles.preloading{
    .card{
        .card-img-top{
            background-color: #FFFFFF;
            padding:0;          
            .animated-background {
                min-height:200px;
            }            
        }
        .card-body{
            padding:1rem 0;
            .card-tags{
                padding:0;
                width: 30%;
                .animated-background {
                    min-height:18px;
                }            
            }
            .card-title{
                padding:0;
                .animated-background {
                    min-height:30px;
                }            
            }
            .excerpt{
                margin-bottom: 10px;
                .animated-background {
                    min-height:18px;
                }            
            }
            .excerpt:last-child{
                width: 50%;
            }
        }
    }
}
.article{
    h3:first-child{
        display: none !important;
    }
    .article-featured_image{
        min-height: 400px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        margin-bottom: 20px;
        @include border_radius($border-radius);
        @media (max-width: 768px) {
            min-height: 200px;        
            
        }
    }
    .article-title{
        border-bottom:1px solid rgba(0,0,0,.1);
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .article-content{
        figure{
            figcaption{
                font-size: 0.8rem;
                text-align: center;
                padding:10px;
                background-color: #FEFEFE;
            }
        }
        img{
            max-width: 100%;
            display: block;
            margin:0 auto;
            @include border_radius($border-radius);
        }
        p{
            font-size: 1em;
        }
        p:last-child{
            background-color: #FEFEFE;
            font-size:0.9rem;
            padding-bottom:20px;
            border-bottom:1px solid rgba(0,0,0,.1);
        }
    }
}
