/*!
 * Ham Radio Philippines
 * @author Juan Caser / Nopo Wev Digital <hello@nopoweb.com>
 * @vesion 3.0
 */
.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.btn, .img-thumbnail, .card {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.card-img-top {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0; }

body {
  padding-top: 82px; }

@media (min-width: 768px) {
  body.scrolled {
    padding-top: 56px; } }
h1, h2, h3, h4 {
  font-family: "Zilla Slab", serif;
  font-weight: bold; }

.video-popup {
  background: #000000;
  display: block;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem; }
  .video-popup img {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    opacity: 0.6; }

.video-popup:hover img {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 100; }

/* Wave */
.a {
  fill: none; }

.b {
  clip-path: url(#a); }

.c, .d {
  fill: #f9f9fc; }

.d {
  opacity: 0.5;
  isolation: isolate; }

@keyframes shimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }
.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 10px;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.navbar-brand {
  width: 200px;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .navbar-brand img {
    width: 100%; }

body.scrolled nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
body.scrolled nav.bg-white {
  background-color: rgba(255, 255, 255, 0.92) !important; }
body.scrolled .navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0; }
body.scrolled .navbar-brand {
  width: 125px; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 1rem 1.5rem;
    line-height: 27px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; } }
header.masthead {
  padding: 3rem 0 0;
  position: relative;
  background-color: #007bff;
  background-image: url("../img/default-masthead.jpg"), linear-gradient(45deg, #007bff 0%, #006fe6 100%);
  background-size: cover;
  z-index: 0; }

.latest-articles {
  padding: 20px 0;
  min-height: 200px; }

.articles {
  padding: 30px 0; }
  .articles .article-item {
    display: block;
    border: none !important;
    color: #000000;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .articles .article-item .card-img-top {
      overflow: hidden;
      background-color: #000000;
      max-height: 190px; }
      .articles .article-item .card-img-top img {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 100%;
        opacity: 0.6; }
    .articles .article-item .card-body {
      padding: 0.9rem 0; }
      .articles .article-item .card-body .card-tags {
        margin-bottom: 0 !important;
        font-size: 0.9rem; }
        .articles .article-item .card-body .card-tags p {
          margin: 0 !important;
          line-height: 1.3em;
          font-size: 0.8rem; }
      .articles .article-item .card-body .card-title {
        font-size: 1.3rem;
        font-weight: bold;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .articles .article-item .card-body p {
        font-size: 0.95rem; }
  .articles .article-item:hover .card-title {
    text-decoration: underline; }
  .articles .article-item:hover .card-img-top img {
    width: 105% !important;
    opacity: 100; }

.articles.preloading .card .card-img-top {
  background-color: #FFFFFF;
  padding: 0; }
  .articles.preloading .card .card-img-top .animated-background {
    min-height: 200px; }
.articles.preloading .card .card-body {
  padding: 1rem 0; }
  .articles.preloading .card .card-body .card-tags {
    padding: 0;
    width: 30%; }
    .articles.preloading .card .card-body .card-tags .animated-background {
      min-height: 18px; }
  .articles.preloading .card .card-body .card-title {
    padding: 0; }
    .articles.preloading .card .card-body .card-title .animated-background {
      min-height: 30px; }
  .articles.preloading .card .card-body .excerpt {
    margin-bottom: 10px; }
    .articles.preloading .card .card-body .excerpt .animated-background {
      min-height: 18px; }
  .articles.preloading .card .card-body .excerpt:last-child {
    width: 50%; }

.article h3:first-child {
  display: none !important; }
.article .article-featured_image {
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  @media (max-width: 768px) {
    .article .article-featured_image {
      min-height: 200px; } }
.article .article-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-bottom: 20px; }
.article .article-content figure figcaption {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
  background-color: #FEFEFE; }
.article .article-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
.article .article-content p {
  font-size: 1em; }
.article .article-content p:last-child {
  background-color: #FEFEFE;
  font-size: 0.9rem;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=styles.css.map */
